.vacancy {
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    &__inner {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            flex-direction: row;
        }

        &__item {
            position: relative;
            background-color: #fff;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
            width: 43%;
            margin-bottom: 20px;
            padding: 10px 20px;
            border-radius: 8px;
            transition: transform 0.2s linear;

            @media (max-width: 768px) {
                width: 100%;
            }

            @media (max-width: 576px) {
                width: 100%;
            }

            &:hover {
                transform: translateY(-3px);

                .line {
                    &.blue {
                        background-color: #7059fc;
                    }

                    &.green {
                        background-color: #61c03f;
                    }

                    &.orange {
                        background-color: #d28529;
                    }
                }
            }

            .line {
                position: absolute;
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background-color: #cfcfcf;
                border-radius: 50px;
                transition: background-color 0.3s linear;
            }

            .vacancy__title {
                font-size: 20px;
                font-family: "Open Sans";
                margin-bottom: 10px;
            }

            .vacancy__description {
                font-size: 16px;
                margin-bottom: 10px;
                color: #959595;
            }

            .vacancy__footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                .vacancy__wage {
                    width: 40%;
                    font-size: 15px;
                    color: #828282;
                    line-height: 1.1;

                    .wage {
                        font-weight: 800;
                        color: #646464;
                        font-size: 27px;
                    }
                }

                .vacancy__send-vacancy {
                    font-size: 13.5px;
                    border-radius: 6px;
                    background-color: transparent;
                    font-weight: 600;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: background-color 0.2s linear;

                    &.blue {
                        color: #9382ff;

                        &:hover {
                            background-color: #f5f4fd;
                        }
                    }

                    &.orange {
                        color: #d28529;

                        &:hover {
                            background-color: #fff3e4;
                        }
                    }
                }
            }
        }
    }
}
