.diagnostics {
    &__inner {
        &__content {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;

            @media (max-width: 1024px) {
                width: 90%;
            }

            @media (max-width: 992px) {
                width: 80%;
            }

            @media (max-width: 768px) {
                width: 90%;
            }

            @media (max-width: 576px) {
                flex-direction: column;
            }

            .diagnostics__item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 300px;
                height: 250px;
                border-radius: 16px;
                transition: box-shadow 0.3s linear, transform 0.2s linear;
                padding: 10px 20px;
                text-align: center;

                @media (max-width: 1024px) {
                    width: 220px;
                    height: 220px;
                }

                @media (max-width: 992px) {
                    width: 200px;
                    height: 200px;
                }

                @media (max-width: 768px) {
                    width: 160px;
                    height: 160px;
                }

                @media (max-width: 576px) {
                    width: 300px;
                    height: 250px;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.066);

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
                }

                &:hover .diagnostics__image path {
                    fill: #cf9a11;
                }

                &:hover .diagnostics__item__title {
                    color: #cf9a11;
                }

                .diagnostics__image {
                    @media (max-width: 992px) {
                        width: 110px;
                    }

                    @media (max-width: 1024px) {
                        width: 140px;
                    }

                    @media (max-width: 768px) {
                        width: 100px;
                    }

                    @media (max-width: 576px) {
                        width: 140px;
                    }

                    path {
                        transition: fill 0.3s linear;
                    }
                }

                &__title {
                    font-weight: 700;
                    transition: color 0.2s linear;

                    @media (max-width: 1024px) {
                        font-weight: 600;
                    }

                    @media (max-width: 992px) {
                        font-size: 15px;
                    }

                    @media (max-width: 768px) {
                        font-size: 13px;
                    }

                    @media (max-width: 576px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__subtext {
        margin-top: 80px;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;

        &__inner {
            color: #fff;
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            @media (max-width: 1200px) {
                width: 90%;
                padding: 0px 50px;
            }

            @media (max-width: 992px) {
                width: 90%;
                padding: 0px 40px;
                font-size: 14px;
                height: 200px;
            }

            @media (max-width: 768px) {
                width: 80%;
                font-size: 13px;
            }

            @media (max-width: 576px) {
                height: 400px;
                font-size: 15px;
            }

            @media (max-width: 425px) {
                font-size: 14px;
            }

            @media (max-width: 375px) {
                padding: 40px 0px;
            }
        }
    }
}
